# Node modules
node_modules/

# Archivos de entorno
.env

# Logs
npm-debug.log
yarn-error.log

# Dependencias de Node.js
package-lock.json
yarn.lock

# Carpeta de build
dist/
build/

# Archivos de sistema
.DS_Store   # macOS
Thumbs.db   # Windows

# Archivos de configuración IDE (por ejemplo, VSCode, JetBrains)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de la carpeta de pruebas (si no quieres subir estos resultados)
tests/

# Archivos temporales
*.log
*.tmp
